:root{
    --defcolor: rgba(40, 231, 190, 1);
}
html{
    background: var(--defcolor);
    transition: 1s;
}

body{
    font-family: 'Patrick Hand', cursive;
    border: 5px solid var(--defcolor);
    transition: 1s;
    position: relative;
    height: 99vh;
    width: 99.3vw;
    margin:0px;
    z-index: 1;
    scrollbar-width: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
}

#header{
    position: absolute;
    background: var(--defcolor);
    min-width: 50px;
    min-height: 30px;
    z-index: 1;
    top: 0;
    left: 0;
    padding: 10px;
    border-bottom-right-radius: 0.5rem;
    font-family: 'Patrick Hand', cursive;
    font-size: 1.5em;
    transition: 1s;
}

#header:hover{
    cursor: pointer;
    background: black;
    color: var(--defcolor);
    box-shadow: 4px 0px 5px 1px var(--defcolor),
                0px 4px 5px 1px var(--defcolor); 
    transition: 0.5s ease-in;
}

#buttons{
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-end;
}

.action-button{
    background: var(--defcolor);
    min-width: 50px;
    min-height: 40px;
    padding: 2px;
    border-radius: 0.8rem;
    font-family: 'Patrick Hand', cursive;   
    font-size: 2.5em;
    margin: 3px 3px 10px 3px;
    border: 0px;
    transition: 0.5s ease-out;
}

.action-button:hover{
    cursor: pointer;
    background: black;
    color:var(--defcolor);
    border:1px solid black;
    box-shadow: 1px 0px 5px 1px var(--defcolor), 
                -1px 0px 5px 1px var(--defcolor),
                0px 1px 5px 1px var(--defcolor), 
                0px 0px 5px 1px var(--defcolor);
    transition: 0.5s ease-out;
}

.action-button:active{
    font-size: 2.2em;
    transition: 0.3s;
}

#state{
    background: black;
    min-width: 100px;
    min-height: 100px;
    padding: 5px;
    border-radius: 1rem;
    margin: 10px 3px 10px 10px;
    font-size: 2em;
    color: var(--defcolor);
    text-align: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    opacity: 1;
    transition : 0.5s, opacity 0.4s ease-in-out;
}

#canvas1{
    position: absolute;
    background: black;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.color{
    min-width: 20px;
    width: auto;
    max-width: 40px;
    height: 90%;
    border-radius: 0.8rem;
    margin: 5px;
    flex:1;
    box-shadow: 3px 3px rgba(255, 255, 255, 0.5);
    transition: 0.7s;
}

.color:hover{
    cursor: pointer;
    border-radius: 0.2rem;
    box-shadow: 2px 2px black;
    border: 3px black solid;
}

.color:active{
    height: 110%;
    transition: 0.5s;
}

#color-picker{
    position: absolute;
    bottom: 6px;
    right: 2px;
    min-width: 150px;
    width: 98vw;
    height: 50px;
    padding: 2px;
    margin: 3px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#header-tooltip{
    opacity: 0;
    color: var(--defcolor);
    background: black;
    position: absolute;
    top:50px;
    left:70px;
    border-radius: 0.2rem;
    transition: opacity 1s;
}

.text-wrapper{
    transition: transform 0.5s;
}